<div>
  <h2 id="page-heading" data-cy="NotificationHeading">
    <span jhiTranslate="footyFixApp.notification.home.title">Notifications</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="footyFixApp.notification.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-notification"
        [routerLink]="['/notification/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="footyFixApp.notification.home.createLabel">Create a new Notification</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (notifications?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="footyFixApp.notification.home.notFound">No Notifications found</span>
    </div>
  }

  @if (notifications && notifications.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.notification.type">Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="content">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.notification.content">Content</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.notification.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creationDate">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.notification.creationDate">Creation Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="player.id">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.notification.player">Player</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (notification of notifications; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/notification', notification.id, 'view']">{{ notification.id }}</a>
              </td>
              <td>{{ notification.type }}</td>
              <td>{{ notification.content }}</td>
              <td jhiTranslate="{{ 'footyFixApp.NotificationStatus.' + notification.status }}">{{ notification.status }}</td>
              <td>{{ notification.creationDate | formatMediumDatetime }}</td>
              <td>
                @if (notification.player) {
                  <div>
                    <a [routerLink]="['/player', notification.player.id, 'view']">{{ notification.player.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/notification', notification.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/notification', notification.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(notification)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
