<div>
  <h2 id="page-heading" data-cy="GameHeading">
    <span jhiTranslate="footyFixApp.game.home.title">Games</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="footyFixApp.game.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-game"
        [routerLink]="['/game/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="footyFixApp.game.home.createLabel">Create a new Game</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (games?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="footyFixApp.game.home.notFound">No Games found</span>
    </div>
  }

  @if (games && games.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="gameDate">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.game.gameDate">Game Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="price">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.game.price">Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="size">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.game.size">Size</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.game.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="venueId">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.game.venueId">Venue Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sportId">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.game.sportId">Sport Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="organizer.id">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.game.organizer">Organizer</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (game of games; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/game', game.id, 'view']">{{ game.id }}</a>
              </td>
              <td>{{ game.gameDate | formatMediumDatetime }}</td>
              <td>{{ game.price }}</td>
              <td>{{ game.size }}</td>
              <td>{{ game.description }}</td>
              <td>{{ game.venueId }}</td>
              <td>{{ game.sportId }}</td>
              <td>
                @if (game.organizer) {
                  <div>
                    <a [routerLink]="['/player', game.organizer.id, 'view']">{{ game.organizer.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/game', game.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/game', game.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(game)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
