<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (sport) {
      <div>
        <h2 data-cy="sportDetailsHeading"><span jhiTranslate="footyFixApp.sport.detail.title">Sport</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ sport.id }}</span>
          </dd>
          <dt><span jhiTranslate="footyFixApp.sport.sportName">Sport Name</span></dt>
          <dd>
            <span>{{ sport.sportName }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/sport', sport.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
