<div>
  <h2 id="page-heading" data-cy="PlayerHeading">
    <span jhiTranslate="footyFixApp.player.home.title">Players</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="footyFixApp.player.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-player"
        [routerLink]="['/player/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="footyFixApp.player.home.createLabel">Create a new Player</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (players?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="footyFixApp.player.home.notFound">No Players found</span>
    </div>
  }

  @if (players && players.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.player.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.player.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="username">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.player.username">Username</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.player.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="password">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.player.password">Password</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dob">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.player.dob">Dob</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="gender">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.player.gender">Gender</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phoneNumber">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.player.phoneNumber">Phone Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="playerImage.id">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.player.playerImage">Player Image</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="game.id">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.player.game">Game</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="venue.id">
              <div class="d-flex">
                <span jhiTranslate="footyFixApp.player.venue">Venue</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (player of players; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/player', player.id, 'view']">{{ player.id }}</a>
              </td>
              <td>{{ player.name }}</td>
              <td>{{ player.username }}</td>
              <td>{{ player.email }}</td>
              <td>{{ player.password }}</td>
              <td>{{ player.dob | formatMediumDate }}</td>
              <td jhiTranslate="{{ 'footyFixApp.Gender.' + player.gender }}">{{ player.gender }}</td>
              <td>{{ player.phoneNumber }}</td>
              <td>
                @if (player.playerImage) {
                  <div>
                    <a [routerLink]="['/player-image', player.playerImage.id, 'view']">{{ player.playerImage.id }}</a>
                  </div>
                }
              </td>
              <td>
                @for (game of player.games; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/game', game.id, 'view']">{{ game.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td>
                @for (venue of player.venues; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/venue', venue.id, 'view']">{{ venue.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/player', player.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/player', player.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(player)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
